* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.main {
  max-width: 1440px;
  width: 50%;
  height: 300px;
  margin: 60px auto;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: white;
  border-radius: 25px;
  min-width: 300px;
  margin: 50px;
  box-shadow: 10px 5px 5px rgb(243, 243, 253);
}

.result {
  background-color: rgb(72, 42, 224);
  width: 120px;
  height: 200px;
  border-radius: 10%;
  text-align: center;
  margin: auto 0 auto auto;
  padding: 1.1rem;
  font-size: 0.5rem;
  min-width: 100px;
}

.word1 {
  font-size: 0.8rem;
  margin: 5px 5px 10px 5px;
  color: rgba(240, 248, 255, 0.809);
}
.num {
  color: rgba(240, 248, 255, 0.741);
  height: 80px;
  margin: 10px 20px;
  padding: 1px;
  background-image: linear-gradient(
    rgb(39, 13, 172),
    rgba(61, 36, 187, 0.95),
    rgb(72, 42, 224)
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.num1 {
  font-size: 1.5rem;
  color: rgba(240, 248, 255, 0.987);
  font-weight: 900;
}
.lastw {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.num2 {
  font-size: 1rem;
  color: rgb(208, 235, 240);
  margin: 8px 10px 10px 10px;
  font-weight: 500;
}
.num3 {
  color: rgba(208, 235, 240, 0.803);
  font-size: 0.6rem;
}
.summary {
  width: 100px;
  height: 200px;
  border-radius: 10%;
  text-align: center;
  padding: 0.75rem;
  margin: 10px 5px 3px 5px;
  font-size: 0.5rem;
  min-width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}

.summary h2 {
  text-align: left;
  font-size: 0.6rem;
  color: rgb(19, 100, 73);
  font-weight: 700;
  margin-bottom: 12px;
}
.remarks {
  display: flex;
  padding: 8px;
  margin-bottom: 5px;
}
.rem {
  text-align: left;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.mark {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 3px;
}
.rem1 {
  padding-right: 34px;
}

button {
  width: 80%;
  margin: auto;
  background-color: rgba(82, 102, 220, 0.948);
  border: none;
  color: aqua;
  font-size: 0.5rem;
  border-radius: 10px;
  padding: 5px;
}
.grade {
  font-weight: bold;
}

.remR {
  color: rgba(147, 64, 65, 0.712);
  font-weight: 900;
}

.remM {
  color: rgb(108, 90, 48);
  font-weight: 900;
}

.remVe {
  color: rgb(48, 126, 109);
  font-weight: 900;
}
remVi {
  color: rgb(121, 130, 250);
  font-weight: 900;
}

.remarks1 {
  background-color: rgba(243, 243, 253, 0.466);
  border-radius: 5px;
}
.remarks2 {
  background-color: rgba(243, 243, 253, 0.294);
  border-radius: 5px;
}
.remarks3 {
  background-color: rgba(243, 243, 253, 0.488);
  border-radius: 5px;
}
.remarks4 {
  background-color: rgb(243, 243, 253);
  border-radius: 5px;
}
@media (max-width: 375px) {
  .container {
    display: grid;
    justify-content: center;
    margin: 40px auto;
  }
}
